* {
    margin: 0;
    padding: 0;

}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 80px;
}


body {
    transition: background-color 1s, color 1s;
}



#game {

    height: 68vmin;
    width: 68vmin;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-between;
    background-color: rgb(255, 136, 0);
}



.boxes {
    height: 32%;
    width: 32%;
    border: none;
    background-color: #ffffff;
    font-size: 13vmin;
    color: white;
    transition: background-color 1s, color 1s;
    font-family: "Press Start 2P", system-ui;

}

.header-buttons {
    border-radius: 50px;
    border: none;
    font-size: 1rem;
    cursor: pointer;
    font-family: "Press Start 2P", system-ui;
    padding: 23px 33px 23px 33px;
}




#header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 50px;
    border: 1px solid red;
}

.button-div{
    border: 1px solid red;
    justify-content: center;
    align-items: center;
}


.game-heading {
    font-size: 2.9rem;
    font-weight: bold;
    font-family: "Press Start 2P", system-ui;
    color: rgb(255, 136, 0);
}

.light-mode-background {
    background-color: #ffffff;
    color: rgb(255, 136, 0);
}

.dark-mode-background {
    background-color: #000000;
    color: rgb(255, 136, 0);
}

.light-mode-boxes {
    background-color: #ffffff;

}

.dark-mode-boxes {
    background-color: #000000;

}



@media (min-width : 300px) {

    .game-heading {

        font-size: 2.0rem;
        font-weight: bold;
       
        
        
        
    }

        .header-buttons {

    padding: 20px 20px;
    font-size: 0.5rem;
   

    

}

.button-div{
    width: 50%;
     display: flex;
    justify-content: center;

}

.heading-div{
    display: none;
}

#outter-heading-div{
    width: 100%;
    margin-top: 20px;
    border: 1px solid red;
    text-align: center;
}

#outter-header-div{
    width: 100%;
}



}